html, body {
    background: #eee;
    height: 100%;
}

header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
    background: black;
    margin-top: auto;
}

.table td, th {
	text-align: center !important;
	vertical-align: middle !important;
}

.pagination {
	display: inline !important;
	margin-right: 20px;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}