<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Computer Database</display-name>

	<servlet>
		<description>DashboardServlet</description>
		<display-name>DashboardServlet</display-name>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>com.excilys.computerdatabase.servlet.DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/computers</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>AddComputerServlet</description>
		<display-name>AddComputerServlet</display-name>
		<servlet-name>AddComputerServlet</servlet-name>
		<servlet-class>com.excilys.computerdatabase.servlet.AddComputerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddComputerServlet</servlet-name>
		<url-pattern>/addComputer</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>EditComputerServlet</description>
		<display-name>EditComputerServlet</display-name>
		<servlet-name>EditComputerServlet</servlet-name>
		<servlet-class>com.excilys.computerdatabase.servlet.EditComputerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditComputerServlet</servlet-name>
		<url-pattern>/editComputer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>DeleteComputerServlet</description>
		<display-name>DeleteComputerServlet</display-name>
		<servlet-name>DeleteComputerServlet</servlet-name>
		<servlet-class>com.excilys.computerdatabase.servlet.DeleteComputerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteComputerServlet</servlet-name>
		<url-pattern>/deleteComputer</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/computer</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
